# ┏━╸╻ ╻┏━╸┏━┓╻ ╻╺┳╸╻ ╻╻┏┓╻┏━╸
# ┣╸ ┃┏┛┣╸ ┣┳┛┗┳┛ ┃ ┣━┫┃┃┗┫┃╺┓
# ┗━╸┗┛ ┗━╸╹┗╸ ╹  ╹ ╹ ╹╹╹ ╹┗━┛
*
!*/

# ┏━┓┏━┓┏┳┓┏━╸   ╺┳╸╻ ╻╻┏┓╻┏━╸┏━┓
# ┗━┓┃ ┃┃┃┃┣╸     ┃ ┣━┫┃┃┗┫┃╺┓┗━┓
# ┗━┛┗━┛╹ ╹┗━╸    ╹ ╹ ╹╹╹ ╹┗━┛┗━┛
!.gitignore
!.gitconfig
!ghostty/**# blacks
palette = 0 = #3F3A3F
palette = 8 = #746B6F

# reds
palette = 1 = #94434A
palette = 9 = #FC5C65

# green

!hypr/**
!btop/btop.conf
!nnn/**
!waybar/**
!wlogout/**
!wofi/**
!kitty/**
!fish/**
!pipes-rs/**
!.scripts/**
!.xinitrc
!.Xresources
!colors.conf
!pkglist.txt
!pkglist_aur.txt
!vivaldi-snippets/**