# ┏━╸╻ ╻┏━╸┏━┓╻ ╻╺┳╸╻ ╻╻┏┓╻┏━╸
# ┣╸ ┃┏┛┣╸ ┣┳┛┗┳┛ ┃ ┣━┫┃┃┗┫┃╺┓
# ┗━╸┗┛ ┗━╸╹┗╸ ╹  ╹ ╹ ╹╹╹ ╹┗━┛
*
!*/

# ┏━┓┏━┓┏┳┓┏━╸   ╺┳╸╻ ╻╻┏┓╻┏━╸┏━┓
# ┗━┓┃ ┃┃┃┃┣╸     ┃ ┣━┫┃┃┗┫┃╺┓┗━┓
# ┗━┛┗━┛╹ ╹┗━╸    ╹ ╹ ╹╹╹ ╹┗━┛┗━┛
!.gitignore
!.gitconfig
!ghostty/**
!niri/**
!yazi/**
!hypr/**
!btop/btop.conf
!nnn/**
!waybar/**
!wlogout/**
!wofi/**
!kitty/**
!fish/**
!pipes-rs/**
!.scripts/**
!.xinitrc
!.Xresources
!colors.conf
!pkglist.txt
!pkglist_aur.txt
!vivaldi-snippets/**
!espanso/**
!install/**
!ghostty/config