# ┏━╸╻ ╻┏━╸┏━┓╻ ╻╺┳╸╻ ╻╻┏┓╻┏━╸
# ┣╸ ┃┏┛┣╸ ┣┳┛┗┳┛ ┃ ┣━┫┃┃┗┫┃╺┓
# ┗━╸┗┛ ┗━╸╹┗╸ ╹  ╹ ╹ ╹╹╹ ╹┗━┛
*
!*/

# ┏━┓┏━┓┏┳┓┏━╸   ╺┳╸╻ ╻╻┏┓╻┏━╸┏━┓
# ┗━┓┃ ┃┃┃┃┣╸     ┃ ┣━┫┃┃┗┫┃╺┓┗━┓
# ┗━┛┗━┛╹ ╹┗━╸    ╹ ╹ ╹╹╹ ╹┗━┛┗━┛
!.gitignore
!.gitconfig
!hypr/**
!btop/**
!nnn/**
!waybar/**
!wlogout/**
!wofi/**
!xfce4/**
!kitty/**
!fish/**
!pipes-rs/**
!.xinitrc
!.Xresources
!colors.conf
!pkglist.txt
!pkglist_aur.txt