window {
	margin: 5px;
	border: transparent;
	border-radius: 12px;
	background-color: #2d2a2e;
	font-family: IosevkaTerm NFP;
	font-size: 24px;
	color: #978C8C;
	
}

#input {
	margin: 5px;
	border: 2px solid #3F3A3F;
	border-radius: 5px;
	background-color: transparent;
	color: #978C8C;
}

#scroll {
	margin: 5px 0px;
	color: #f2f2f2;
}

#scroll:label {
	margin: 5px 0px;
}

#inner-box {
	margin: 5px;
}

#entry:selected {
	border: 0px;
	background-color: transparent;
	/* border-radius: 5px; */
	color: #FDFFF1;
}

#text:selected {
	color: #FDFFF1;
}
